@tailwind base;
@tailwind components;
@tailwind utilities;

/* Darle un color al fondo de la página */
body {
  background-color: rgb(245, 248, 252);
  color: rgb(0, 0, 0); /* Color del texto en modo claro */
}



@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}